body{
	background: url(../image/bj.jpg)no-repeat;
	background-size: 100%;
}
.header{
	margin:0 auto;
	border: 1px solid blue;
	height:52px;
	background: #5a5a5a;
}
.headerUl{
	width: 1200px;
	margin:0 auto;
}
.headerUl li{
	float: left;
	width: 120px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin-right: 20px;
}
.headerUl .info{
	text-align:right;
	margin-left: 60px;
	margin-right: 15px;
}
.headerUl .userimg{
	width:50px;
	height:50px;
}
.headerUl .userimg img{
	display: block;
	width: 100%;
	height:100%;
	border-radius: 50%;
}

.headerUl li a{
	font-size:16px;
	color: #eee;
	display: inline-block;
}
.content{
	width: 1200px;
	margin:30px auto;
}
.conLul{
	width: 816px;
	margin-left: 16px;
}
.conLul li{
	float: left;
	width:250px;
	height:250px;
	margin-right: 20px;
	margin-bottom: 20px;
	border: 1px solid green;
	overflow: hidden;
	position: relative;
}
.conLul li span{
	width: 100%;
	height:30px;
	line-height: 30px;
	position:absolute;
	bottom:-30px;
	text-align: center;
	background-color: black;
	opacity:0.5;
	display: none;
}
.conLul li img{
	width: 100%;
	height: 100%;
}
.conRul{
	width: 365px;
}
.conRul li{
	height: 40px;
	line-height: 40px;
	text-indent: 2em;
	border-bottom:1px dashed gray;
}
.qRcode{
	margin-top: 50px;
}
h3{
	display: block;
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid pink;
}
.qRcode div img{
	display: block;
	margin:5px auto;
}